<?xml version='1.0' encoding='utf-8'?>
<widget
    id="io.storganizer.app"
    version="1.2.4"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cdv="http://cordova.apache.org/ns/1.0" >

    <name>Storganizer</name>
    <description>Storganizer UI Application</description>
    <author email="info@gitcd.io" href="https://gitcd.io">
        Storganizer Dev
    </author>
    <content src="index.html" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="electron">
        <icon src="www/storganizer-logo.png" />

        <preference name="Fullscreen" value="true" />
        <preference name="ShowTitle" value="false" />
        <preference name="ElectronSettingsFilePath" value="./electron.json" />
    </platform>


    <platform name="android">

        <icon src="www/storganizer-logo.png" />
        <preference name="Scheme" value="http" />
        <preference name="usesCleartextTraffic" value="true" />

        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
        </edit-config>

        <config-file mode="merge" parent="/*" target="AndroidManifest.xml">
          <uses-permission android:name="android.permission.CAMERA" />
          <uses-feature android:name="android.hardware.camera" />
          <uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file>

        <uses-permission android:name="android.permission.CAMERA" />
        <uses-feature android:name="android.hardware.camera" />
    </platform>

</widget>
