<scan-qr-code>
  <button class="no-print" onclick={ scan }>Scan qr code</button>
  <div id="reader" width="600px"></div>
  <script>

    import * as riot from 'riot'


    export default {
      scan(e) {
        alert('rebuild')
      },
    }
  </script>
</scan-qr-code>