.application-body {
  margin-top: 90px;
}



.form-buttons {
  float: right;
}


.button-delete {
    background-color: #a31b41;
    border-color: #a31b41;
}

/* Weird Table beahviors in small screens */
table {
  display: inline-table;
}

td.length {
  width: 55px
}

/* Icon fixes */

h2 .fa, h2 .fa-solid {
  margin-right: 15px
}

.edit-entry, .add-entry {
  cursor: pointer;
  margin-right: 5px;
  float: right;
  font-size: .8em;
}


#fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: black;
}
#camera {
  width: 100%;
  height: 100%;
  border: 5px solid white;
}

@media print
{    

    .no-print, .no-print, .button-delete, .edit-entry, .add-entry *
    {
        display: none !important;
    }


}