<login class="no-print">
    <div class="login">
        <div><button onclick={ login }>Backend Login</button></div>
        <div><a href="#config">Configure your own Backend</a></div>
    </div>
  <script>
    import './login.css'


    export default {

      login(e) {
        window.location.href = this.registry.dataStore.getApiHost() + "/login"
      },
    }


  </script>
</login>
